{% extends "inventory/layout.html" %}

{% block body %}
<div class="container px-4 pt-2">
   
    <h3>Vehicle Information</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>VIN</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Year</th>
                <th>Cost Price ($)</th>
                <th>Selling Price ($)</th>
                <th>Mileage</th>
                <th>Color</th>
                <th>Image</th>
            </tr>
            </thead>
            <tbody>
            {% for vehicle in vehicles %}
                <tr class="table-secondary">
                    <td>{{ vehicle.vin }}</td>
                    <td>{{ vehicle.brand }}</td>
                    <td>{{ vehicle.model }}</td>
                    <td>{{ vehicle.year }}</td>
                    <td>{{ vehicle.cost_price }}</td>
                    <td>{{ vehicle.selling_price }}</td>
                    <td>{{ vehicle.mileage }}</td>
                    <td>{{ vehicle.color }}</td>
                    <td>
                        {% if vehicle.image %}
                            <div data-bs-toggle="modal" data-bs-target="#myModal{{ vehicle.pk }}">
                                <img src="{{ vehicle.image.url }}" height="30px" width="30px" alt="">
                            </div>

                            <!-- The Modal -->
                            <div class="modal" id="myModal{{ vehicle.pk }}">
                                <div class="modal-dialog">
                                <div class="modal-content">
                            
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                    <h4 class="modal-title">{{ vehicle.brand }}, {{ vehicle.model }}</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                            
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                    <img src="{{ vehicle.image.url }}" class="img-fluid" alt="">
                                    </div>
                            
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                    </div>
                            
                                </div>
                                </div>
                            </div>
  
                            {% comment %} <a href="{{ vehicle.image.url }}" target="_blank"><img src="{{ vehicle.image.url }}" height="30px" width="30px" alt=""></a> {% endcomment %}
                        {% else %}
                            no image
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            
            </tbody>
        </table>
    </div>

</div>




{% endblock %}